
:root {
    --color: lime;
    --background:#253c5c;
    --size: 1.4;
    --glow: 1;
    --animation: terminal-blink;
    background-color: #253c5c;
}


#splitRow {
    background-color: #253c5c !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin: 0;
}

#RightsideOfScreen {
    padding: 0;
}

#TerminalInput {
    white-space: normal;
}

a {
    text-decoration: none;
}

.list{
    display: inline-flex;
    position: fixed;
    right: 0px;
    bottom: 0px;


  }
  .list li {
      list-style-type: none;
      padding: 0 1rem
  }
  .fa-linkedin{
    color: white;


  }

  .fa-github{
    color: rgb(255, 255, 255);

  }

  .fa-rss{
    color: white;

  }


  /*

  Project cards

   */

.Container{
    display: inline-block;
    padding: 7px;
    margin-bottom: 10%;
    margin-right: 3%;

}

.Container .card{
    position: relative;
    cursor: pointer;
    max-height: 200px;
}

.Container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.9s;
}

.Container .card .face.face1{
    position: relative;
    background: #2a3542;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);

}

.Container .card:hover .face.face1{
    background: #20203a;
    transform: translateY(0);
}

.Container .card .face.face1 .content{
    opacity: 0.6;
    transition: 0.5s;
}

.Container .card:hover .face.face1 .content{
    opacity: 1;
}

.Container .card .face.face1 .content img{
    max-width: 100px;
    min-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.Container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.Container .card .face.face2{
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.Container .card:hover .face.face2{
    transform: translateY(0);
}

.Container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.Container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.Container .card .face.face2 .content a:hover{
    color: #333;
    text-decoration: underline;
}


/*

about

 */

.Profile {
    border-radius: 25px;
    background: #333;
    padding: 20px;
    width: max-content;
    max-height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    opacity: 1;
    color: #a9a9a9;
}

/*

contact

 */
form { max-width:max-content; margin:max-content; }
.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid  #a9a9a9;;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { border:2px solid  #a9a9a9;; }

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:lime;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}





